index.html
App.jsx

citiesOsp.jsx

# START
0GroupMatches.jsx
1GroupFinal.jsx
# StandingComponent
4standingsBlock.jsx
# GridMatches
1gridMatches.jsx
# GridRank
1gridRank.jsx

variables.css
0CssGsTs.jsx

1aCalSerieA.jsx
main.jsx

