/* ============================================================ */
   
:root {
  /* QUADRATO ================================================= */
  --quad-bg-round32:  #075985; /* bg-sky-800 */
  --quad-bg-round16:  #0f766e; /* bg-teal-700 */
  --quad-bg-quarter:  #34d399; /* bg-emerald-400 */
  --quad-bg-semi:     #84cc16; /* bg-lime-500 */
  --quad-bg-final:    #facc15; /* bg-yellow-500 */


 /* QUADRATO – BORDI ========================================== */

  --quad-border-win:       #be185d; /* border-rose-700 */
  --quad-border-draw:      #facc15; /* border-yellow-400 */
  --quad-border-pron:      #a855f7; /* border-purple-500 */
  --quad-border-pron-draw: #22c55e; /* border-green-500 */
  --quad-border-default:   #ffffff; /* border-white */


  /* RETTRIS – COLORI TESTO =================================== */

  --rettris-ris:   #343F50; /* text-slate-700 */
  --rettris-ts:    #0e7490; /* text-cyan-700 */
  --rettris-pen:   #000000; /* text-black */
  
}